# PlanAhead Generated physical constraints 

#NET "a[0]" LOC = J15;
#NET "a[1]" LOC = L16;
#NET "a[2]" LOC = M13;
#NET "a[3]" LOC = R15;
#NET "b[0]" LOC = T18;
#NET "b[1]" LOC = U18;
#NET "b[2]" LOC = R13;
#NET "b[3]" LOC = T8;
#NET "s[0]" LOC = H17;
#NET "s[1]" LOC = K15;
#NET "s[2]" LOC = J13;
#NET "s[3]" LOC = N14;
#NET "cin" LOC = V10;
#NET "cout" LOC = R18;
#a
NET "A[0]"          LOC=J15 | IOSTANDARD=LVCMOS33; #IO_L24N_T3_RS0_15
NET "A[1]"          LOC=L16 | IOSTANDARD=LVCMOS33; #IO_L3N_T0_DQS_EMCCLK_14
NET "A[2]"          LOC=M13 | IOSTANDARD=LVCMOS33; #IO_L6N_T0_D08_VREF_14
NET "A[3]"          LOC=R15 | IOSTANDARD=LVCMOS33; #IO_L13N_T2_MRCC_14
#b
NET "B[0]"          LOC=T18 | IOSTANDARD=LVCMOS33; #IO_L7N_T1_D10_14
NET "B[1]"          LOC=U18 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_A13_D29_14
NET "B[2]"          LOC=R13 | IOSTANDARD=LVCMOS33; #IO_L5N_T0_D07_14
NET "B[3]"          LOC=T8  | IOSTANDARD=LVCMOS33; #IO_L24N_T3_34

#operacion
NET "operacion[0]"          LOC=R16 | IOSTANDARD=LVCMOS33; #IO_L7N_T1_D10_14
NET "operacion[1]"          LOC=T13 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_A13_D29_14
NET "operacion[2]"          LOC=H6 | IOSTANDARD=LVCMOS33; #IO_L5N_T0_D07_14
NET "operacion[3]"          LOC=U12  | IOSTANDARD=LVCMOS33; #IO_L24N_T3_34

#s
NET "R[0]"         LOC=H17 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_A24_15
NET "R[1]"         LOC=K15 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_RS1_15
NET "R[2]"         LOC=J13 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_A25_15
NET "R[3]"         LOC=N14 | IOSTANDARD=LVCMOS33; #IO_L8P_T1_D11_14

#OV,N,Z,C
NET "Ovf"         LOC=V11 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_A24_15
NET "N"         LOC=V12 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_RS1_15
NET "Z"         LOC=V14 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_A25_15
NET "Cout"         LOC=V15 | IOSTANDARD=LVCMOS33; #IO_L8P_T1_D11_14